.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}

/* userManager.css */
.UserManager {
  max-width: 90%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  text-align: left;
}

.form-control {
  width: 80%;
  text-align: left;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}

.quantity-button {
  margin: 10px;
}

.product-card {
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-container {
  padding: 20px;
  width: 500px;
  margin: 0 auto;
}

.product-card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card .card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.product-card .card-text {
  margin-bottom: 20px;
}
